body {
    background-color: #F6F6F6 !important;
}

.router-link-active {
    color: #F78F42 !important;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.my-btn {
    background: linear-gradient(0deg, rgba(255, 151, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
}

.my-btn span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.my-btn:before,
.my-btn:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgba(251, 75, 2, 1);
    box-shadow:
        -7px -7px 20px 0px rgba(255, 255, 255, .9),
        -4px -4px 5px 0px rgba(255, 255, 255, .9),
        7px 7px 20px 0px rgba(0, 0, 0, .2),
        4px 4px 5px 0px rgba(0, 0, 0, .3);
    transition: all 0.3s ease;
}

.my-btn:before {
    height: 0%;
    width: 2px;
}

.my-btn:after {
    width: 0%;
    height: 2px;
}

.my-btn:hover {
    color: rgba(251, 75, 2, 1);
    background: transparent;
}

.my-btn:hover:before {
    height: 100%;
}

.my-btn:hover:after {
    width: 100%;
}

.my-btn span:before,
.my-btn span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(251, 75, 2, 1);
    box-shadow:
        -7px -7px 20px 0px rgba(255, 255, 255, .9),
        -4px -4px 5px 0px rgba(255, 255, 255, .9),
        7px 7px 20px 0px rgba(0, 0, 0, .2),
        4px 4px 5px 0px rgba(0, 0, 0, .3);
    transition: all 0.3s ease;
}

.my-btn span:before {
    width: 2px;
    height: 0%;
}

.my-btn span:after {
    height: 2px;
    width: 0%;
}

.my-btn span:hover:before {
    height: 100%;
}

.my-btn span:hover:after {
    width: 100%;
}

.social:hover {
    color: #F78F42 !important;
}

.my-name {
    z-index: 2 !important;
}

.company-list {
    background-color: #F78F42 !important;
    overflow: scroll !important;
}

.company-img {
    width: 141px !important;
    height: 30px !important;
}

.service-card {
    cursor: pointer !important;
}

.service-card:hover div>i,
.service-card:hover>div,
.service-card:hover {
    color: #F78F42 !important;
    border-block-start-color: #F78F42 !important;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.latest-card-img {
    width: 520px !important;
    height: 390px !important;
    border-radius: 20px !important;
}

.latest-project-title {
    width: 280px !important;
    height: 30px !important;
    text-overflow: ellipsis !important;
}

.tab {
    cursor: pointer !important;
}

.tab::before {
    content: '';
    width: 30px;
    color: #F78F42 !important;
    border: 1px solid black !important;
    margin-right: 10px;
}

.active {
    color: #F78F42 !important;
}